<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{createNew?'Create Project':'Edit Project'}}</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-end color="primary" [disabled]="!validations_form.valid" (click)="createProject()">
      done
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">
  <form [formGroup]="validations_form">
    <ion-item>
      <ion-label position="floating" color="primary">Title</ion-label>
      <ion-input type="text" formControlName="title" [(ngModel)]="project.title"></ion-input>
    </ion-item>
    <ng-container *ngFor="let validation of validation_messages.title">
      <div class="error-message"
        *ngIf="validations_form.get('title').hasError(validation.type) && (validations_form.get('title').dirty || validations_form.get('title').touched)">
        {{ validation.message }}
      </div>
    </ng-container>
    <ion-item>
      <ion-label position="floating" color="primary">Description</ion-label>
      <ion-textarea rows="6" type="text" formControlName="description" [(ngModel)]="project.description"></ion-textarea>
    </ion-item>
    <ng-container *ngFor="let validation of validation_messages.description">
      <div class="error-message"
        *ngIf="validations_form.get('description').hasError(validation.type) && (validations_form.get('description').dirty || validations_form.get('description').touched)">
        {{ validation.message }}
      </div>
    </ng-container>
    <ion-item>
      <ion-label color="primary">Organization: {{organizationName}}</ion-label>
      <ion-select *ngIf="createNew" formControlName="organizationName" (ionChange)="organizationSelected(orgSelect.value)" #orgSelect>
        <ion-select-option *ngFor="let organization of userOrganizations" [value]="organization">{{organization.name}}</ion-select-option>
      </ion-select>
    </ion-item>
  </form>

  <ion-item-divider>
    <ion-label>
      Needed skills
    </ion-label>
  </ion-item-divider>

  <div class="row" *ngIf="(project.neededSkills.length == 0)">
    <div class="col">
      <div class="text-center">
        <h5 style="text-align: center;">Non hai ancora aggiunto nessuna competenza</h5>
      </div>
    </div>
  </div>

  <ion-list *ngFor="let skill of project.neededSkills">
    <ion-item>
      <ion-label>
        <h2 text-capitalize>{{skill.name}}</h2>
        <ion-badge color="secondary" slot="start">{{skill.level}}</ion-badge>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addSkill()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>