<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Create Organization</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" [disabled]="!validations_form.valid" (click)="createOrganization()">
        done
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">
  <form [formGroup]="validations_form">
  <ion-item>
      <ion-label position="floating" color="primary">Name</ion-label>
      <ion-input type="text" formControlName="name" [(ngModel)]="name"></ion-input>
  </ion-item>
  <ng-container *ngFor="let validation of validation_messages.name">
    <div class="error-message" *ngIf="validations_form.get('name').hasError(validation.type) && (validations_form.get('name').dirty || validations_form.get('name').touched)">
      {{ validation.message }}
    </div>
  </ng-container>
  <ion-item>
    <ion-label position="floating" color="primary">Description</ion-label>
    <ion-textarea type="text" formControlName="description" [(ngModel)]="description" rows="10"></ion-textarea>
  </ion-item>
  <ng-container *ngFor="let validation of validation_messages.description">
    <div class="error-message" *ngIf="validations_form.get('description').hasError(validation.type) && (validations_form.get('description').dirty || validations_form.get('description').touched)">
      {{ validation.message }}
    </div>
  </ng-container>
  </form>
 
</ion-content>
