<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Organizations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-refresher slot="fixed" (ionRefresh)="reloadOrganizations($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- quando il caricamento è completato ma non ci sono organizzazioni disponibili -->
  <div class="row">
    <div class="col">
      <div class="text-center">
        <h5 style="text-align: center;">{{getMessage()}}</h5>
      </div>
    </div>
  </div>

  <!-- per ogni elemento presente in organizations creo una ion-card-->
  <div *ngIf="!isLoading()">
    <ion-card *ngFor="let organization of getOrganizations()">
      <ion-item (click)="viewOrganization(organization.id)" routerDirection="forward">
        <ion-label>
          <h2 text-capitalize>{{organization.name}}</h2>
          <p>{{organization.description}}</p>
        </ion-label>
      </ion-item>
    </ion-card>
  </div>

  <!-- mentre sta caricando le prime organizzazioni -->
  <div *ngIf="isLoading()">
    <ion-card *ngFor="let item of [].constructor(10)">
      <ion-item>
        <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 90%;"></ion-skeleton-text>
      </ion-item>
    </ion-card>
  </div>

  <!-- per creare uno scroll infinito-->
  <ion-infinite-scroll threshold="5%" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more organizations ...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="dataService.isUserLogged() && dataService.isInternetConnected">
    <ion-fab-button (click)="createOrganization()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>