<ion-header translucent>
  <ion-toolbar>
    <ion-title>Select User</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-searchbar color="light" (ionChange)="inputChanged($event)"></ion-searchbar>
  <ion-segment (ionChange)="segmentChanged($event)" value="all">
    <ion-segment-button value="all">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="experts">
      <ion-label>Experts</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div class="row" *ngIf="isUsersEmpty()">
    <div class="col">
      <div class="text-center">
        <h5 style="text-align: center;">Nessun utente trovato</h5>
      </div>
    </div>
  </div>

  <ion-list *ngIf="!isUsersEmpty()">
    <ion-item *ngFor="let user of getUsers()" (click)="selectUser(user)">
      <ion-label>
        <h2 text-capitalize>{{user.name}}</h2>
        <p>{{user.mail}}</p>
        <ion-note *ngFor="let skill of this.getExpertSkills(user)" color="tertiary">
            {{skill.name}}
          </ion-note>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- per creare uno scroll infinito-->
  <ion-infinite-scroll threshold="5%" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more users...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>