<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!loading && project!=null">{{project.title}}</ion-title>
    <ion-title *ngIf="errorLoading && project==null">Project</ion-title>
    <ion-skeleton-text *ngIf="loading" animated style="width: 60%;"></ion-skeleton-text>
    <ion-buttons slot="end" *ngIf="dataService.hasProjectCreatorPermission(project)">
      <ion-button (click)="showActionSheet()">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-refresher slot="fixed" (ionRefresh)="reload($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="!errorLoading">
    <!-- descrizione -->
    <ion-item>
      <ion-text *ngIf="!loading">
        <p>{{project.description}}</p>
      </ion-text>
    </ion-item>
    <!-- caricamento descrizione -->
    <ion-item *ngIf="loading" style="padding: 8px;">
      <ion-skeleton-text animated style="width: 90%;"></ion-skeleton-text>
    </ion-item>

    <ion-item-divider>
      <ion-label>
        Status
      </ion-label>
    </ion-item-divider>
    <!-- stato -->
    <ion-item *ngIf="!loading">
      <ion-label *ngIf="project.closed" color="warning">
        Closed
      </ion-label>
      <ion-label *ngIf="!project.closed">
        Open
      </ion-label>
    </ion-item>
    <!-- caricamento stato -->
    <ion-item *ngIf="loading">
      <ion-label>
        <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
      </ion-label>
    </ion-item>

    <ion-item-divider>
      <ion-label>
        Organization
      </ion-label>
    </ion-item-divider>
    <!-- Organizzazione -->
    <ion-item *ngIf="organization" (click)="viewOrganization(organization.id)">
      <ion-label>
        <h2 text-capitalize>{{organization.name}}</h2>
        <p>{{organization.description}}</p>
      </ion-label>
    </ion-item>
    <!-- caricamento organizzazione -->
    <ion-item *ngIf="!organization">
      <ion-label>
        <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
      </ion-label>
    </ion-item>

    <ion-item-divider>
      <ion-label>
        Creator
      </ion-label>
    </ion-item-divider>
    <!-- creator -->
    <ion-item *ngIf="creator">
      <ion-label>
        <h2 text-capitalize>{{creator.name}}</h2>
        <p>{{creator.mail}}</p>
      </ion-label>
    </ion-item>
    <!-- loading creator -->
    <ion-item *ngIf="!creator">
      <ion-label>
        <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
      </ion-label>
    </ion-item>

    <ion-item-divider *ngIf="loading || project.closed == false">
      <ion-label>
        Needed skills
      </ion-label>
    </ion-item-divider>

    <!-- quando il caricamento è completato ma non ci sono skill disponibili -->
    <div class="row" *ngIf="!loading && (project.neededSkills.length == 0) && project.closed == false">
      <div class="col">
        <div class="text-center">
          <h6 style="text-align: center;">Non c'è ancora nessuna skill necessaria</h6>
        </div>
      </div>
    </div>

    <!-- needed skills -->
    <ion-list *ngIf="!loading && (project.neededSkills.length>0) && project.closed==false">
      <ion-item *ngFor="let skill of project.neededSkills">
        <ion-badge color="secondary" slot="start">{{skill.level}}</ion-badge>
        <ion-label text-capitalize>{{skill.name}}</ion-label>
      </ion-item>
    </ion-list>
    <!-- loading needed skills -->
    <ion-list *ngIf="loading">
      <ion-item>
        <ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text>
      </ion-item>
    </ion-list>

    <ion-item-divider>
      <ion-label>
        Team
      </ion-label>
    </ion-item-divider>

    <!-- quando il caricamento è completato ma non ci sono progettisti disponibili -->
    <div class="row" *ngIf="!loading && (project.team.length == 0)">
      <div class="col">
        <div class="text-center">
          <h6 style="text-align: center;">Non c'è ancora nessuno nel Team</h6>
        </div>
      </div>
    </div>
    <!-- team -->
    <ion-list *ngIf="!loading && (project.team.length>0)">
      <ion-item-sliding *ngFor="let role of project.team" [disabled]="false" #slidingItem>
        <ion-item>
          <ion-label>
            <h2 text-capitalize>{{role.userMail}}</h2>
            <p>{{role.skill.name}}</p>
          </ion-label>
        </ion-item>
        <ion-item-options side="end" *ngIf="project.closed==false" (ionSwipe)="removeTeamMember(role, slidingItem)">
          <ion-item-option expandable color="danger" (click)="removeTeamMember(role, slidingItem)">
            <ion-icon slot="icon-only" name="thumbs-down"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <!-- loading team -->
    <ion-list *ngIf="loading">
      <ion-item *ngFor="let item of [].constructor(5)">
        <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
      </ion-item>
    </ion-list>

    <ion-item-divider *ngIf="!loading && project.closed==false">
      <ion-label>
        Candidates
      </ion-label>
    </ion-item-divider>

    <!-- quando il caricamento è completato ma non ci sono candidati disponibili -->
    <div class="row" *ngIf="!loading && (project.candidates.length == 0) && project.closed==false">
      <div class="col">
        <div class="text-center">
          <h6 style="text-align: center;">Non ci sono ancora candidati</h6>
        </div>
      </div>
    </div>
    <!-- candidati -->
    <ion-list *ngIf="!loading && (project.candidates.length>0)">
      <ion-item-sliding *ngFor="let role of project.candidates"
        [disabled]="!dataService.hasTeamManagerPermission(organization,project,role.skill)" #slidingItem>
        <ion-item-options side="start" (ionSwipe)="acceptCandidate(role,slidingItem)">
          <ion-item-option expandable (click)="acceptCandidate(role,slidingItem)">
            <ion-icon slot="icon-only" name="thumbs-up"></ion-icon>
          </ion-item-option>
        </ion-item-options>
        <ion-item>
          <ion-label>
            <h2 text-capitalize>{{role.userMail}}</h2>
            <p>{{role.skill.name}} lv: {{role.skill.level}}</p>
          </ion-label>
        </ion-item>
        <ion-item-options side="end" (ionSwipe)="rejectCandidate(role, slidingItem)">
          <ion-item-option expandable color="danger" (click)="rejectCandidate(role, slidingItem)">
            <ion-icon slot="icon-only" name="thumbs-down"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <!-- loading candidates -->
    <ion-list *ngIf="loading">
      <ion-item *ngFor="let item of [].constructor(5)">
        <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 60%;"></ion-skeleton-text>
      </ion-item>
    </ion-list>

    <ion-button *ngIf="!loading && dataService.isUserLogged() && dataService.getUser().mail != project.creatorMail"
      expand="block" (click)="submit()" [disabled]="userAvailableSkillsInput.length<=0">
      Submit
      <ion-icon slot="end" name="checkmark"></ion-icon>
    </ion-button>
  </div>

  <div *ngIf="errorLoading">
    <div class="row">
      <div class="col">
        <div class="text-center">
          <h5 style="text-align: center;">Impossibile caricare il progetto :(</h5>
        </div>
      </div>
    </div>
  </div>
</ion-content>