<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">List Of Projects</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-refresher slot="fixed" (ionRefresh)="reload($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="row">
    <div class="col">
      <div class="text-center">
        <h5 style="text-align: center;">{{getMessage()}}</h5>
      </div>
    </div>
  </div>
  <!-- per ogni elemento presente in projects creo una ion-card-->
  <div *ngIf="!isLoading()">
    <ion-card *ngFor="let project of getProjects()">
      <ion-item (click)="viewProject(project.id)" routerDirection="forward">
        <ion-label>
          <h2 text-capitalize>{{project.title}}</h2>
          <p>{{project.description}}</p>
        </ion-label>
      </ion-item>
    </ion-card>
  </div>

  <div *ngIf="isLoading()">
    <ion-card *ngFor="let item of [].constructor(10)">
      <ion-item>
        <ion-label>
          <ion-skeleton-text animated style="width: 40%;"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ion-card>
  </div>

  <!-- comando per creare uno scroll infinito-->
  <ion-infinite-scroll threshold="5%" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more users ...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="dataService.isUserLogged() && dataService.isInternetConnected">
    <ion-fab-button (click)="createProject()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>