<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
      <!-- 
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      -->
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="danger">
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Bine Ai Venit ! &nbsp; &nbsp; &nbsp; Funcțiile în Partid: </ion-title>
  </ion-toolbar>  
</ion-header>

<ion-content [fullscreen]="true">
  <!-- List of Text Items -->
      <ng-container *ngIf="userroles">
        <ion-list>
          <!--
          <ion-item detail *ngFor='let rol of roles' (click)="selectieRol(rol.autUserrolId)">
            <ion-label>
              <h2>{{rol.rol.autRolDisplayNume}}</h2>
              <p>{{rol.rol.autRolDisplaydescriere}}</p>
            </ion-label>
          </ion-item>
          -->
          
          <button width="100%" ion-item *ngFor='let userrol of userroles' (click)="selectieRol(userrol.autUserrolId)"> 
            <ion-label>
              <h2>{{userrol.rol.autRolDisplayNume}}</h2>
              <p>{{userrol.rol.autRolDisplaydescriere}}</p>
            </ion-label>

          </button>
        
        </ion-list>
     </ng-container>


</ion-content>
